apiVersion: v1
kind: ConfigMap
metadata:
  name: px-versions
  namespace: {{ template "px.getDeploymentNamespace" . }}
data:
  versions.yaml: |
    version: {{ .Values.imageVersion }}
    components:
      {{- if eq .Values.imageVersion "3.5.0" }}
      stork: openstorage/stork:25.4.1
      autopilot: portworx/autopilot:1.3.18
      clusterDiags: portworx/cluster-diags:3.4.2
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.15.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v5.3.0
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.14.0
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.3.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.3.0
      prometheus: quay.io/prometheus/prometheus:v3.7.2
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.86.1
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.86.1
      alertManager: quay.io/prometheus/alertmanager:v0.28.1
      telemetry: portworx/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.5.0.0-mver12-update
      metricsCollector: portworx/realtime-metrics:1.0.32
      telemetryProxy: portworx/telemetry-envoy:1.1.18
      logUploader: portworx/log-upload:px-1.1.46
      dynamicPlugin: portworx/portworx-dynamic-plugin:2.0.0
      dynamicPluginProxy: nginxinc/nginx-unprivileged:alpine-slim
      certManagerController: quay.io/jetstack/cert-manager-controller:v1.17.4
      certManagerWebhook: quay.io/jetstack/cert-manager-webhook:v1.17.4
      certManagerCaInjector: quay.io/jetstack/cert-manager-cainjector:v1.17.4
      certManagerAcmeSolver: quay.io/jetstack/cert-manager-acmesolver:v1.17.4
      pause: registry.k8s.io/pause:3.1
      {{- else if eq .Values.imageVersion "3.4.1" }}
      stork: openstorage/stork:25.4.1
      autopilot: portworx/autopilot:1.3.18
      clusterDiags: portworx/cluster-diags:3.4.2
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.15.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v5.3.0
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.14.0
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.3.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.3.0
      prometheus: quay.io/prometheus/prometheus:v3.7.2
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.86.1
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.86.1
      alertManager: quay.io/prometheus/alertmanager:v0.28.1
      telemetry: portworx/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.5.0.0-mver12-update
      metricsCollector: portworx/realtime-metrics:1.0.32
      telemetryProxy: portworx/telemetry-envoy:1.1.18
      logUploader: portworx/log-upload:px-1.1.46
      dynamicPlugin: portworx/portworx-dynamic-plugin:2.0.0
      dynamicPluginProxy: nginxinc/nginx-unprivileged:alpine-slim
      certManagerController: quay.io/jetstack/cert-manager-controller:v1.17.4
      certManagerWebhook: quay.io/jetstack/cert-manager-webhook:v1.17.4
      certManagerCaInjector: quay.io/jetstack/cert-manager-cainjector:v1.17.4
      certManagerAcmeSolver: quay.io/jetstack/cert-manager-acmesolver:v1.17.4
      pause: registry.k8s.io/pause:3.1
      {{- else if eq .Values.imageVersion "3.4.0.1" }}
      stork: openstorage/stork:25.4.0
      autopilot: portworx/autopilot:1.3.17
      clusterDiags: portworx/cluster-diags:3.3.0
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.14.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v5.3.0
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.14.0
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.3.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.3.0
      prometheus: quay.io/prometheus/prometheus:v3.4.2
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.84.0
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.84.0
      alertManager: quay.io/prometheus/alertmanager:v0.28.1
      telemetry: portworx/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.4.0.1-mver12-update
      metricsCollector: portworx/realtime-metrics:1.0.32
      telemetryProxy: purestorage/telemetry-envoy:1.1.16
      logUploader: portworx/log-upload:px-1.1.46
      dynamicPlugin: portworx/portworx-dynamic-plugin:2.0.0
      dynamicPluginProxy: nginxinc/nginx-unprivileged:alpine-slim
      certManagerController: quay.io/jetstack/cert-manager-controller:v1.17.4
      certManagerWebhook: quay.io/jetstack/cert-manager-webhook:v1.17.4
      certManagerCaInjector: quay.io/jetstack/cert-manager-cainjector:v1.17.4
      certManagerAcmeSolver: quay.io/jetstack/cert-manager-acmesolver:v1.17.4
      kubeScheduler: registry.k8s.io/kube-scheduler-amd64:v1.31.0
      kubeControllerManager: registry.k8s.io/kube-controller-manager-amd64:v1.31.0
      pause: registry.k8s.io/pause:3.1
      {{- else if eq .Values.imageVersion "3.4.0" }}
      stork: openstorage/stork:25.4.0
      autopilot: portworx/autopilot:1.3.17
      clusterDiags: portworx/cluster-diags:3.3.0
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.14.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v5.3.0
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.14.0
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.3.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.3.0
      prometheus: quay.io/prometheus/prometheus:v3.4.2
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.84.0
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.84.0
      alertManager: quay.io/prometheus/alertmanager:v0.28.1
      telemetry: portworx/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.4.0-mver12-update
      metricsCollector: portworx/realtime-metrics:1.0.32
      telemetryProxy: purestorage/telemetry-envoy:1.1.16
      logUploader: portworx/log-upload:px-1.1.46
      dynamicPlugin: portworx/portworx-dynamic-plugin:2.0.0
      dynamicPluginProxy: nginxinc/nginx-unprivileged:alpine-slim
      certManagerController: quay.io/jetstack/cert-manager-controller:v1.17.4
      certManagerWebhook: quay.io/jetstack/cert-manager-webhook:v1.17.4
      certManagerCaInjector: quay.io/jetstack/cert-manager-cainjector:v1.17.4
      certManagerAcmeSolver: quay.io/jetstack/cert-manager-acmesolver:v1.17.4
      kubeScheduler: registry.k8s.io/kube-scheduler-amd64:v1.31.0
      kubeControllerManager: registry.k8s.io/kube-controller-manager-amd64:v1.31.0
      pause: registry.k8s.io/pause:3.1
      {{- else if eq .Values.imageVersion "3.3.1.3" }}
      stork: openstorage/stork:25.3.2
      autopilot: portworx/autopilot:1.3.17
      clusterDiags: portworx/cluster-diags:3.3.1.3
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.13.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v5.2.0
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.13.2
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.2.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.2.0
      prometheus: quay.io/prometheus/prometheus:v3.4.0
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.82.2
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.82.2
      alertManager: quay.io/prometheus/alertmanager:v0.28.1
      telemetry: portworx/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.3.1.3-mver12-update
      metricsCollector: portworx/realtime-metrics:1.0.31
      telemetryProxy: purestorage/telemetry-envoy:1.1.16
      logUploader: portworx/log-upload:px-1.1.40
      dynamicPlugin: portworx/portworx-dynamic-plugin:1.1.4
      dynamicPluginProxy: nginxinc/nginx-unprivileged:alpine-slim
      certManagerController: quay.io/jetstack/cert-manager-controller:v1.17.0
      certManagerWebhook: quay.io/jetstack/cert-manager-webhook:v1.17.0
      certManagerCaInjector: quay.io/jetstack/cert-manager-cainjector:v1.17.0
      certManagerAcmeSolver: quay.io/jetstack/cert-manager-acmesolver:v1.17.0
      pause: registry.k8s.io/pause:3.1
      {{- else if eq .Values.imageVersion "3.3.1.2" }}
      stork: openstorage/stork:25.3.0
      autopilot: portworx/autopilot:1.3.17
      clusterDiags: portworx/cluster-diags:3.3.0
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.13.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v5.2.0
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.13.2
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.2.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.2.0
      prometheus: quay.io/prometheus/prometheus:v3.4.0
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.82.2
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.82.2
      alertManager: quay.io/prometheus/alertmanager:v0.28.1
      telemetry: portworx/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.3.1.2-mver12-update
      metricsCollector: portworx/realtime-metrics:1.0.31
      telemetryProxy: purestorage/telemetry-envoy:1.1.16
      logUploader: portworx/log-upload:px-1.1.40
      dynamicPlugin: portworx/portworx-dynamic-plugin:1.1.4
      dynamicPluginProxy: nginxinc/nginx-unprivileged:alpine-slim
      certManagerController: quay.io/jetstack/cert-manager-controller:v1.17.0
      certManagerWebhook: quay.io/jetstack/cert-manager-webhook:v1.17.0
      certManagerCaInjector: quay.io/jetstack/cert-manager-cainjector:v1.17.0
      certManagerAcmeSolver: quay.io/jetstack/cert-manager-acmesolver:v1.17.0
      pause: registry.k8s.io/pause:3.1
      {{- else if eq .Values.imageVersion "3.3.1" }}
      stork: openstorage/stork:25.3.0
      autopilot: portworx/autopilot:1.3.17
      clusterDiags: portworx/cluster-diags:3.3.0
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.13.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v5.2.0
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.13.2
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.2.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.2.0
      prometheus: quay.io/prometheus/prometheus:v3.4.0
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.82.2
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.82.2
      alertManager: quay.io/prometheus/alertmanager:v0.28.1
      telemetry: portworx/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.3.1.0-mver12-update
      metricsCollector: portworx/realtime-metrics:1.0.31
      telemetryProxy: purestorage/telemetry-envoy:1.1.16
      logUploader: portworx/log-upload:px-1.1.40
      dynamicPlugin: portworx/portworx-dynamic-plugin:1.1.4
      dynamicPluginProxy: nginxinc/nginx-unprivileged:alpine-slim
      certManagerController: quay.io/jetstack/cert-manager-controller:v1.17.0
      certManagerWebhook: quay.io/jetstack/cert-manager-webhook:v1.17.0
      certManagerCaInjector: quay.io/jetstack/cert-manager-cainjector:v1.17.0
      certManagerAcmeSolver: quay.io/jetstack/cert-manager-acmesolver:v1.17.0
      kubeScheduler: registry.k8s.io/kube-scheduler-amd64:v1.31.0
      kubeControllerManager: registry.k8s.io/kube-controller-manager-amd64:v1.31.0
      pause: registry.k8s.io/pause:3.1
      {{- else if eq .Values.imageVersion "3.3.0.1" }}
      stork: openstorage/stork:25.2.2
      autopilot: portworx/autopilot:1.3.17
      clusterDiags: portworx/cluster-diags:3.3.0
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.13.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v5.2.0
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.13.2
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.2.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.2.0
      prometheus: quay.io/prometheus/prometheus:v3.4.0
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.82.2
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.82.2
      alertManager: quay.io/prometheus/alertmanager:v0.28.1
      telemetry: portworx/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.3.0-mver12-update
      metricsCollector: portworx/realtime-metrics:1.0.31
      telemetryProxy: purestorage/telemetry-envoy:1.1.16
      logUploader: portworx/log-upload:px-1.1.40
      dynamicPlugin: portworx/portworx-dynamic-plugin:1.1.4
      dynamicPluginProxy: nginxinc/nginx-unprivileged:alpine-slim
      certManagerController: quay.io/jetstack/cert-manager-controller:v1.17.0
      certManagerWebhook: quay.io/jetstack/cert-manager-webhook:v1.17.0
      certManagerCaInjector: quay.io/jetstack/cert-manager-cainjector:v1.17.0
      certManagerAcmeSolver: quay.io/jetstack/cert-manager-acmesolver:v1.17.0
      kubeScheduler: registry.k8s.io/kube-scheduler-amd64:v1.31.0
      kubeControllerManager: registry.k8s.io/kube-controller-manager-amd64:v1.31.0
      pause: registry.k8s.io/pause:3.1
      {{- else if eq .Values.imageVersion "3.2.3" }}
      stork: openstorage/stork:25.2.2
      autopilot: portworx/autopilot:1.3.16
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.12.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v5.1.0
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.12.0
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.1.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.1.0
      prometheus: quay.io/prometheus/prometheus:v2.54.1
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.75.0
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.75.0
      alertManager: quay.io/prometheus/alertmanager:v0.27.0
      telemetry: purestorage/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.2.3-mver12-update
      metricsCollector: portworx/realtime-metrics:1.0.31
      telemetryProxy: purestorage/telemetry-envoy:1.1.16
      logUploader: portworx/log-upload:px-1.1.40
      dynamicPlugin: portworx/portworx-dynamic-plugin:1.1.3
      dynamicPluginProxy: nginxinc/nginx-unprivileged:1.27-alpine3.20-slim
      {{- else if eq .Values.imageVersion "3.2.2" }}
      stork: openstorage/stork:25.2.0
      autopilot: portworx/autopilot:1.3.16
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.12.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v3.6.1
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.12.0
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.1.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.1.0
      prometheus: quay.io/prometheus/prometheus:v2.54.1
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.75.0
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.75.0
      alertManager: quay.io/prometheus/alertmanager:v0.27.0
      telemetry: purestorage/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.2.2.0-mver12-update
      metricsCollector: portworx/realtime-metrics:1.0.31
      telemetryProxy: purestorage/telemetry-envoy:1.1.16
      logUploader: portworx/log-upload:px-1.1.40
      dynamicPlugin: portworx/portworx-dynamic-plugin:1.1.3
      dynamicPluginProxy: nginxinc/nginx-unprivileged:1.27-alpine3.20-slim
      {{- else if eq .Values.imageVersion "3.2.1.2" }}
      stork: openstorage/stork:25.2.0
      autopilot: portworx/autopilot:1.3.16
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.12.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v3.6.1
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.12.0
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.1.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.1.0
      prometheus: quay.io/prometheus/prometheus:v2.54.1
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.75.0
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.75.0
      alertManager: quay.io/prometheus/alertmanager:v0.27.0
      telemetry: purestorage/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.2.1.2-mver12-update
      metricsCollector: purestorage/realtime-metrics:1.0.29
      telemetryProxy: purestorage/telemetry-envoy:1.1.16
      logUploader: purestorage/log-upload:px-1.1.29
      dynamicPlugin: portworx/portworx-dynamic-plugin:1.1.3
      dynamicPluginProxy: nginxinc/nginx-unprivileged:1.27-alpine3.20-slim
      {{- else if eq .Values.imageVersion "3.2.1.1" }}
      stork: openstorage/stork:25.2.0
      autopilot: portworx/autopilot:1.3.16
      csiNodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.12.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v3.6.1
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.12.0
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.1.0
      csiSnapshotController: registry.k8s.io/sig-storage/snapshot-controller:v8.1.0
      prometheus: quay.io/prometheus/prometheus:v2.54.1
      prometheusOperator: quay.io/prometheus-operator/prometheus-operator:v0.75.0
      prometheusConfigReloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.75.0
      alertManager: quay.io/prometheus/alertmanager:v0.27.0
      telemetry: purestorage/ccm-go:1.2.2
      pxLibUpdate: portworx/px-lib:pxfslibs-3.2.1.1-mver12-update
      metricsCollector: purestorage/realtime-metrics:1.0.29
      telemetryProxy: purestorage/telemetry-envoy:1.1.16
      logUploader: purestorage/log-upload:px-1.1.29
      dynamicPlugin: portworx/portworx-dynamic-plugin:1.1.2
      dynamicPluginProxy: nginxinc/nginx-unprivileged:1.27-alpine
      {{- end }}
